<div class="flex flex-col md:flex-row bg-orange-600 text-white items-center justify-between px-4 md:px-8 py-4 gap-3 md:gap-0">
    <!-- Logo -->
    <div>
        <a href="#" class="text-3xl font-semibold">Foodie House</a>
    </div>
    
    <!-- Search Bar -->
    <form action="/" method="get" class="w-full md:w-auto flex justify-center md:justify-start">
        <input type="search" name="search" placeholder="Search Foods Here" 
            class="px-5 py-2 border placeholder:text-gray-700 text-zinc-700 bg-white outline-0 rounded-full w-full md:w-[500px]">
    </form>
    
    <!-- Links -->
    <div class="flex gap-5 justify-center md:justify-end">
        {% if user.is_authenticated %}
        <a href="" class="text-lg hover:text-orange-100">Hi, {{user.username}}</a>
        <a href="{% url 'logout' %}" class="text-lg hover:text-orange-100">LogOut</a>
        {% else %}
        <a href="{% url 'login' %}" class="text-lg hover:text-orange-100">LogIn</a>
        <a href="{% url 'signup' %}" class="text-lg hover:text-orange-100">SignUp</a>
        {% endif %}
    </div>
</div>
